@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 5px; /* For vertical scrollbars */
  height: 5px; /* For horizontal scrollbars */
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(92 107 192);
  border-radius: 20px;
}

/* Optional: Style the track */
.no-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* .no-scrollbar {
  -ms-overflow-style: none;
} */
/* .react-select-container {
  width: 100%;
} */
